<style>
    ul {
        list-style: none;
    }

    ul li::before {
        content: "\2022";
        color: #20937e;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    .description {
        text-align: justify;
        font-size: small;
        color: #9b9b9b;

    }

    [data-letters]:before {
        content: attr(data-letters);
        display: inline-block;
        font-size: smaller;
        width: 2.0em;
        height: 2.0em;
        line-height: 2.0em;
        text-align: center;
        border-radius: 50%;
        background: rgb(7, 42, 241);
        vertical-align: middle;
        margin-right: 1em;
        color: white;
    }
</style>

<div id="main-container" style="background-color:#FEFEFE">


    <div class="container-fluid mt-2">
        <div class="row p-4 row justify-content-center">
            <div class="row mb-2">
                <h4>Projects</h4>
            </div>
            <div class="col-md-3 border border-2 rounded" style="background-color:#F6FAFAFA; height: 100vh;">
                <div class="round">
                    <div class="w-100 d-flex p-2">

                        <div class="w-50 float-left">
                            <h5 class="label">To Do</h5>

                        </div>
                        <div class="w-50 float-right text-end ">
                            <span class="badge" style="background-color: gray;"><small
                                    style="color: rgb(155, 231, 155);">{{totalTodo}}</small></span>

                        </div>
                    </div>
                    <button type="button" class="btn text-muted w-100 border border-1" [routerLink]="['/form']"
                        style="background-color:#e8f1f0"><b class="text-success" style="color: #66B4A5;">+</b></button>


                    <div *ngFor="let tasks of todoTask">
                        <div class="mt-2 border border-1 bg-white rounded" *ngIf="tasks.taskStatus == 'To Do'">
                            <div class="container">
                                <div class="row">
                                    <div class="col mt-1">
                                        <ul style="padding-left:1rem;">
                                            <li><strong>{{tasks.title}}</strong> </li>

                                        </ul>

                                    </div>

                                    <div class="col text-end">
                                        <a class="list-group-item" href="#"><i class="fa fa-paperclip"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="row description p-1">
                                    {{tasks.description}}
                                </div>
                                <div class="row">
                                    <p data-letters="TN"></p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
            <div class="col-sm-1"></div>

            <!-- In Progress -->
            <div class="col-md-3 border border-2 rounded pl-2 pr-2" style="background-color:#F6FAFAFA;">
                <div class="round">
                    <div class="w-100 d-flex p-2">

                        <div class="w-50 float-left">
                            <h5 class="label">In Progress</h5>

                        </div>
                        <div class="w-50 float-right text-end ">
                            <span class="badge" style="background-color: gray;"><small
                                    style="color: rgb(155, 231, 155);">{{totalProg}}</small></span>

                        </div>
                    </div>
                    <button type="button" class="btn text-muted w-100 border border-1"
                        (click)="openFormModal('In Progress')" style="background-color:#e8f1f0"><b class="text-success"
                            style="color: #66B4A5;">+</b></button>


                    <div *ngFor="let tasks of todoTask">
                        <div class="mt-2 border border-1 bg-white rounded" *ngIf="tasks.taskStatus == 'In Progress'">
                            <div class="container">
                                <div class="row">
                                    <div class="col mt-1">
                                        <ul style="padding-left:1rem;">
                                            <li><strong>{{tasks.title}}</strong> </li>

                                        </ul>

                                    </div>

                                    <div class="col text-end">
                                        <a class="list-group-item" href="#"><i class="fa fa-paperclip"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="row description p-1">
                                    {{tasks.description}}
                                </div>
                                <div class="row">
                                    <p data-letters="TN"></p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <!--form modal-->
                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{modelName}}</h5>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="progressForm">
                                    <div class="form-group">
                                        <label for="progresstask">Select Task</label>
                                        <select class="form-select" id="progresstask" formControlName="progresstask">
                                            <option selected *ngFor="let setTaskName of todoTask"
                                                value="{{setTaskName.taskId}}">{{setTaskName.title}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="navTask">Navigate To</label>
                                        <select class="form-select" id="navTask" formControlName="navTask">
                                            <option *ngFor="let item of taskStatus | keyvalue" value={{item.key}}>
                                                {{item.value}}</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="button" class="btn btn-primary" (click)="updateTask()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <!-- Completed -->
            <div class="col-md-3  border border-2 rounded" style="background-color:#F6FAFAFA;">
                <div class="round">
                    <div class="w-100 d-flex p-2">

                        <div class="w-50 float-left">
                            <h5 class="label">Completed</h5>

                        </div>
                        <div class="w-50 float-right text-end ">
                            <span class="badge" style="background-color: gray;"><small
                                    style="color: rgb(155, 231, 155);">{{totalComp}}</small></span>

                        </div>
                    </div>
                    <button type="button" class="btn text-muted w-100 border border-1"
                        (click)="openFormModal('Completed')" style="background-color:#e8f1f0"><b class="text-success"
                            style="color: #66B4A5;">+</b></button>


                    <div *ngFor="let tasks of todoTask">
                        <div class="mt-2 border border-1 bg-white rounded" *ngIf="tasks.taskStatus == 'Completed'">
                            <div class="container">
                                <div class="row">
                                    <div class="col mt-1">
                                        <ul style="padding-left:1rem;">
                                            <li><strong>{{tasks.title}}</strong> </li>

                                        </ul>

                                    </div>

                                    <div class="col text-end">
                                        <a class="list-group-item" href="#"><i class="fa fa-paperclip"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="row description p-1">
                                    {{tasks.description}}
                                </div>
                                <div class="row">
                                    <p data-letters="TN"></p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>